<div class="p-grid">
    <div class="p-col-12">
        <h3>Fecha de retiro</h3>
    </div>
    <div class="p-col-12">
        <p-calendar [(ngModel)]="date" [touchUI]="true" [showIcon]="true"></p-calendar>
    </div>
    <div class="p-col-12">
        <h3>Hora de retiro</h3>
    </div>
    <div class="p-col-12">
        <p-radioButton name="groupname" label="09:00 - 11:00" value="09:00 - 11:00" [(ngModel)]="selectedValue"></p-radioButton>
        <br>
        <br>
        <p-radioButton name="groupname" label="11:00 - 13:00" value="11:00 - 13:00" [(ngModel)]="selectedValue"></p-radioButton>
        <br>
        <br>
        <p-radioButton name="groupname" label="13:00 - 15:00" value="13:00 - 15:00" [(ngModel)]="selectedValue"></p-radioButton>
    </div>
    <div class="p-col-12">
        <p-button  [style]="{width: '70%'}" label="Confirmar" (click)="confirm()"></p-button>
    </div>
</div>