html {
    background-color: #efefef;
}

.summary {
    display: flex;
    flex-direction: column;
    margin: 1.1em;
    justify-content: center;
    background-color: white;
    padding: 1em;
    border-radius: 13px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 8%), 0 3px 6px rgb(0 0 0 / 6%);
}

.icon {
    width: 14%;
    margin-right: 1em;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.row span {
    font-weight: 500;
}

.materials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.materials .row {
    width: 50%;
}

.materials .row img {
    width: 25%;
}

.data-container {
    display: flex;
    flex-wrap: wrap;
}

.data-container .row {
    width: 50%;
}

.data-container img {
    width: 25%;
}