<div class="container">
    <div class="summary">
        <h3 style="margin-bottom: 0em;">Confirmación de pedido</h3>
        <p-divider></p-divider>
        <div class="data-container">
            <div class="row">
                <img class="icon" src="assets/icons/app/calendar.png" >
                <span><b>{{date}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/clock.png" >
                <span><b>{{schedule}}</b></span>
            </div>
            <div class="row" style="width: 100%">
                <img class="icon" style="width:13%" src="assets/icons/app/map.png" >
                <span><b>Dirección asdf 123</b></span>
            </div>
        </div>
        <p-divider></p-divider>
        <div class="materials">
            <div class="row">
                <img class="icon" src="assets/icons/app/box.png" >
                <span><b>{{paperboard}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/water.png" >
                <span><b>{{plastic}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/broken-bottle.png" >
                <span><b>{{glass}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/soda-can.png" >
                <span><b>{{can}}</b></span>
            </div>
        </div>
    </div>
    <p-button [style]="{width: '100%'}" label="Confirmar" (click)="save()"></p-button>
    <!-- <div class="p-grid">
        <div class="p-col-12">
        </div>
      </div> -->
</div>