<div class="body">
  <div style="height: 100%" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet" name="asd"></router-outlet>
  </div>  
</div>
<div class="footer">
  <div class="menu">
    <!-- <div *ngIf="profile == 'collector'" [ngClass]="{'menu-item': true, 'selected-home': selectedMenu == 'inicio'}" (click)="navigateTo('inicio')">
      <img src="assets/icons/app/home.png" alt="freya-layout">
    </div> -->
    <div [ngClass]="{'menu-item': true, 'selected-home': selectedMenu == 'inicio'}" (click)="navigateTo('inicio')">
      <img src="assets/icons/app/home.png" alt="freya-layout">
    </div>
    <div *ngIf="profile == 'collector'" [ngClass]="{'menu-item': true, 'selected-recycle': selectedMenu == 'reciclar-elegir'}" (click)="navigateTo('reciclar-elegir')">
      <img src="assets/icons/app/recycle.png" alt="freya-layout">
    </div>
    <div *ngIf="profile != 'collector'" [ngClass]="{'menu-item': true, 'selected-recycle': selectedMenu == 'reciclar'}" (click)="navigateTo('reciclar')">
      <img src="assets/icons/app/recycle.png" alt="freya-layout">
    </div>
    <div [ngClass]="{'menu-item': true, 'selected-user': selectedMenu == 'user-data'}" (click)="navigateTo('user-data')">
      <img src="assets/icons/app/man.png" alt="freya-layout">
    </div>
  </div>
</div>