ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  background-color: #F7FAFF;
  padding: 0;
  margin: 0 0 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  min-height: 6em;
}

ul > li .stock-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #EEF5FF;
  padding: 18px 10px;
  min-width: 70px;
  width: 45%;
  margin-right: 4px;
  height: 6em;
}

ul > li > img {
  height: 36px;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

h6 {
  font-weight: 500;
  font-size: 1.05rem;
    margin-bottom: .5em;
    margin-top: .5em;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  height: inherit;
}
.menu-item {
  width: 33%;
  display: flex;
  justify-content: center;
  padding-top: .5em;
  margin-bottom: .5em;
}
.menu-item img {
  width: 26%;
}
.menu-item.selected img {
  width: 40%;
}
.menu-item.selected-recycle {
  border-top: 4px solid #4caf50;
  background-color: #f1f1f1;
}
.menu-item.selected-home {
  border-top: 4px solid #fbbe44;
  background-color: #f1f1f1;
}
.menu-item.selected-user {
  border-top: 4px solid #fa4e5e;
  background-color: #f1f1f1;
}

.menu-item:hover {
  font-size: 2em;
}

.body {
  height: 90%;
}
.footer {
  height: 10%;
}