<mat-tab-group class="principal-container" headerPosition="below">
  <mat-tab label="Inicio">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">home</mat-icon>
      Mi cuenta
    </ng-template>
    Inicio
  </mat-tab>
  <mat-tab label="Recicla">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">wifi_protected_setup</mat-icon>
      Recicla
    </ng-template>
    <app-recycle></app-recycle>
  </mat-tab>
  <!-- <mat-tab label="Noticias"> Noticias </mat-tab> -->
  <mat-tab label="Mi cuenta">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_circle</mat-icon>
      Mi cuenta
    </ng-template>
    Mi cuenta
  </mat-tab>
</mat-tab-group>