<div>
	<div class="card-recycle">
		<div class="title">
			<h3>Cartón</h3>
		</div>
		<div class="image">
			<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
		</div>
		<div class="input">
			<mat-form-field class="example-full-width">
				<mat-label>Favorite food</mat-label>
				<input mat-autosize="false" matInput placeholder="Ex. Pizza" value="Sushi">
			</mat-form-field>
			<span>unidades</span>
		</div>
	</div>
</div>