.login-body {
  background: #FFFFFF;
}
.login-body .login-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}
.login-body .login-wrapper .login-panel {
  width: 30%;
  height: 100%;
  text-align: center;
  padding: 40px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex: 1 1 100%;
}
.login-body .login-wrapper .login-panel .logo {
  margin-bottom: 50px;
}
.login-body .login-wrapper .login-panel .logo img {
  width: 66%;
  /* height: 53px; */
}
.login-body .login-wrapper .login-panel > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: rgba(41, 50, 65, 0.3);
}
.login-body .login-wrapper .login-panel > p {
  font-weight: 500;
  margin: 0;
  color: rgba(41, 50, 65, 0.5);
  margin-top: 40px;
}
.login-body .login-wrapper .login-panel > p > a {
  color: #2170E7;
  cursor: pointer;
}
.login-body .login-wrapper .login-panel > input {
  width: 85%;
  max-width: 247px;
  margin-bottom: 10px;
  background-color: #F6F7F7;
  border: 1.2px solid #D4D6D9;
  color: #515C66;
  padding: 12px 10px;
}
.login-body .login-wrapper .login-panel > input::placeholder {
  color: gba(41, 50, 65, 0.3);
}
.login-body .login-wrapper .login-panel > button {
  width: 85%;
  max-width: 247px;
  margin-bottom: 10px;
  padding: 0;
}
.login-body .login-wrapper .login-panel > button > span {
  padding: 15px 20px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.login-body .login-wrapper .login-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 70px;
}
.login-body .login-wrapper .login-footer h4 {
  line-height: 22px;
  margin: 0;
  margin-right: 32px;
}
.login-body .login-wrapper .login-footer h6 {
  line-height: 17px;
  margin: 0;
  color: rgba(41, 50, 65, 0.5);
  font-weight: 500;
}

@media (max-width: 992px) {
  .login-body .login-wrapper .login-panel {
    width: 100%;
  }
}

.layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item .search-input-wrapper .p-inputtext {
  background: #F7FAFF;
  width: 100%;
  position: relative;
  padding: 9px;
  padding-left: 37px;
  border: none;
  color: #3E4754;
}

.layout-topbar-dark .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item .search-input-wrapper .p-inputtext {
  background: #F7FAFF;
  width: 100%;
  position: relative;
  padding: 9px;
  padding-left: 37px;
  border: none;
  color: #3E4754;
}

::ng-deep .p-toast {
  position: fixed;
  width: 20rem !important;
}

.login-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}