<div class="login-loading" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="login-body" *ngIf="!isLoading">
  <div class="login-wrapper">
    <div class="login-panel">
      <a class="logo" href="#/">
        <img src="assets/images/coupa.png" alt="freya-layout">
      </a>
      <input pinputtext="" id="email" placeholder="Correo electrónico" class="p-inputtext p-component"
        [(ngModel)]="email">
      <input ppassword="" id="password" type="password" placeholder="Contraseña" class="p-inputtext p-component"
        [(ngModel)]="password">
      <button type="button" class="p-ripple p-button p-component" (click)="login()">
        <span class="p-button-label">INGRESAR</span>
      </button>
      <a href="#">¿No recuerdas tu contraseña?</a>
      <p>No posees una cuenta, <a routerLink="/choose-profile">regístrate</a></p>
    </div>
    <div class="login-footer">
      <!-- <h4>freya</h4> -->
      <h6>Copyright Ⓒ 2021</h6>
    </div>
  </div>
</div>