<div class="container" *ngIf="!loading">
    <p-card *ngFor="let recycle of recycles" [header]="recycle.address" [subheader]="recycle.date + ' ' + recycle.schedule" [style]="{width: '330px', marginBottom: '1em'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/icons/app/recycle-back2.png">
        </ng-template>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p> -->
        <div class="materials">
            <div class="row">
                <img class="icon" src="assets/icons/app/box.png">
                <span><b>{{recycle.paperboard}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/water.png">
                <span><b>{{recycle.plastic}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/broken-bottle.png">
                <span><b>{{recycle.glass}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/soda-can.png">
                <span><b>{{recycle.can}}</b></span>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div>
                <p-button (click)="confirmReception(recycle)" label="Confirmar" icon="pi pi-check"></p-button>
            </div>
        </ng-template>
    </p-card>
    <br>
    <p-confirmDialog  [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
</div>
<div class="login-loading" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>