<!-- <mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Reciclapp</span>
</mat-toolbar> -->
<!-- <i class="pi pi-check"></i> -->
<p-toast position="bottom-center" preventOpenDuplicates="true"></p-toast>
<div style="height: 100%" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>