<div class="layout-content">
    <div class="card">
      <h4 class="my-title">Modificación de datos</h4>
      <!-- <p-divider></p-divider> -->
      <div class="p-fluid">
          <div class="p-field">
              <label for="firstname1">Nombre</label>
              <input placeholder="Ingrese nombre" type="text" pInputText [(ngModel)]="user.name" name="name"> 
          </div>
          <div class="p-field">
              <label for="lastname1">Apellido</label>
              <input type="text" pInputText placeholder="Ingrese apellido" [(ngModel)]="user.lastName" name="lastName"> 
          </div>
          <div class="p-field">
            <label for="lastname1">Correo electrónico</label>
            <input type="email" pInputText placeholder="Ingrese correo" [(ngModel)]="user.email" name="email"> 
          </div>
          <div class="p-field">
            <label for="lastname1">Número de celular</label>
            <input type="text" pInputText placeholder="Ingrese celular" [(ngModel)]="user.phone" name="cellphone"> 
          </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12">
          <p-button [disabled]="isLoading"  [style]="{width: '100%'}" [label]="isLoading ? 'Cargando' :  'Modificar datos'" (click)="modifyData()"></p-button>
        </div>
        <div class="p-col-12">
          <p-button  [style]="{width: '100%'}" label="Volver" (click)="back()"></p-button>
        </div>
      </div>
    </div>
  </div>