ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    background-color: #F7FAFF;
    padding: 0;
    margin: 0 0 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    min-height: 6em;
  }
  
  ul > li .stock-name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #EEF5FF;
    padding: 18px 10px;
    min-width: 70px;
    width: 45%;
    margin-right: 4px;
    height: 6em;
  }
  
  ul > li > img {
    height: 36px;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  
  h6 {
    font-weight: 500;
    font-size: 1.05rem;
      margin-bottom: .5em;
      margin-top: .5em;
  }