<ul>
    <li class="down">
      <div class="stock-name">
        <h6>Cartón</h6>
      </div>
      <img src="assets/icons/app/box.png" alt="freya-layout">
      <div class="stock-price" style="width: 70px">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText style="width:80px" [(ngModel)]="paperboard">
          <label for="float-input">Unidades</label>
        </span>
      </div>
    </li>
    <li class="down">
      <div class="stock-name">
        <h6>Plástico PET</h6>
      </div>
      <img src="assets/icons/app/water.png" alt="freya-layout">
      <div class="stock-price" style="width: 70px">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText style="width:80px" [(ngModel)]="plastic">
          <label for="float-input">Unidades</label>
        </span>
      </div>
    </li>
    <li class="down">
      <div class="stock-name">
        <h6>Vidrio</h6>
      </div>
      <img src="assets/icons/app/broken-bottle.png" alt="freya-layout">
      <div class="stock-price" style="width: 70px">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText style="width:80px" [(ngModel)]="glass">
          <label for="float-input">Unidades</label>
        </span>
      </div>
    </li>
    <li class="down">
      <div class="stock-name">
        <h6>Latas</h6>
      </div>
      <img src="assets/icons/app/soda-can.png" alt="freya-layout">
      <div class="stock-price" style="width: 70px">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText style="width:80px" [(ngModel)]="can">
          <label for="float-input">Unidades</label>
        </span>
      </div>
    </li>
    <div class="p-grid">
      <div class="p-col-12">
        <p-button [style]="{width: '100%'}" label="Siguiente" (click)="goToDate()"></p-button>
      </div>
    </div>
  </ul>