<div class="container" *ngIf="!loading">
    <p-card *ngFor="let recycle of recycles" [header]="recycle.address" [subheader]="recycle.date + ' ' + recycle.schedule" [style]="{width: '330px', marginBottom: '1em'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/icons/app/recycle-back2.png">
        </ng-template>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p> -->
        <div class="materials">
            <div class="row">
                <img class="icon" src="assets/icons/app/box.png">
                <span><b>{{recycle.paperboard}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/water.png">
                <span><b>{{recycle.plastic}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/broken-bottle.png">
                <span><b>{{recycle.glass}}</b></span>
            </div>
            <div class="row">
                <img class="icon" src="assets/icons/app/soda-can.png">
                <span><b>{{recycle.can}}</b></span>
            </div>
        </div>
        <p style="margin-bottom:0px" *ngIf="recycle.user"><b>Responsable:</b> {{recycle.user.name}} {{recycle.user.lastName}}</p>
        <ng-template pTemplate="footer">
            <div *ngIf="recycle.state == 'waiting' || recycle.state == 'created'">
                <p-button  *ngIf="recycle.state == 'waiting'" (click)="confirmReception(recycle)" label="Confirmar" icon="pi pi-check"></p-button>
                <p-button (click)="cancelRecycle(recycle)" label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary"
                    [style]="{'margin-left': '.5em'}"></p-button>
            </div>
            <div *ngIf="recycle.state == 'cancel'">
                <p-message [style]="{width:'100%'}" severity="warn" text="El pedido ha sido cancelado"></p-message>
            </div>
            <div *ngIf="recycle.state == 'done'">
                <p-message [style]="{width:'100%'}" severity="success" text="El pedido ha sido completado"></p-message>
            </div>
        </ng-template>
    </p-card>
    <br>
    <p-confirmDialog  [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
</div>
<div class="login-loading" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>