.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    align-items: center;
    padding-top: 1em;
    max-height: 100%;
    overflow-y: scroll;
}

.materials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.materials .row {
    width: 50%;
}

.materials .row img {
    width: 25%;
}

.login-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.row span {
    font-weight: 500;
    margin-left: .5em;
}