<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="assets/icons/app/recycle.png" height="40" class="p-mr-2">
    </ng-template>
</p-menubar>

<div class="container">
    <div style="width: 45%" class="card">
        <h5>Materiales</h5>
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
    
    <div style="width: 45%" class="card">
        <h5>Cantidad de pedidos</h5>
        <p-chart type="bar" [data]="recycleData" [options]="basicOptions"></p-chart>
    </div>
</div>