<div class="layout-content">
	<div class="card">
		<h4 class="my-title">Elección de perfil</h4>
		<div class="buttons">
			<div (click)="goTo('register', 'recycler')" class="myButton">
				<img class="icon" src="assets/icons/app/garbage.png">
				<span>Reciclador</span>
			</div>
			<div (click)="goTo('register', 'collector')" class="myButton">
				<img style="width: 75px" class="icon" src="assets/icons/app/garbage-truck2.png">
				<span>Recolector</span>
			</div>
		</div>
	</div>
	<div class="p-grid">
		<div class="p-col-12">
		  <p-button  [style]="{width: '100%'}" label="Volver" (click)="goTo('/')"></p-button>
		</div>
	  </div>
	<p-message severity="info" text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor possimus aliquid asperiores quas maxime vero et dolorum laudantium, minus unde tempore distinctio doloribus error nulla."></p-message>
</div>