.card {
    padding: 2rem;
}

.p-inputtext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #69707A;
    background: #ffffff;
    padding: 0.5rem 0.5rem;
    border: 1px solid #D4D6D9;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}

::ng-deep .my-title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0.5em;  
    margin-bottom: 1em;
    color: #383636;
}

.layout-content {
    background-color: #F2F4F6;
    padding: 1em;
    height: 100%;
  }
  
  .card {
    background: #ffffff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgb(41 50 65 / 6%);
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    margin-bottom: 2rem;
    height: fit-content;
  }

.buttons {
    display: flex;
    justify-content: space-around;
}

.myButton {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0%), 0 1px 2px rgb(0 0 0 / 24%);
    background-color: #f2f4f6;
    align-items: center;
    justify-content: center;
}

.myButton span {
    margin-top: 5px;
}