html {
    background-color: #efefef;
}

.user-card {
    display: flex;
    flex-direction: row;
    margin: 1.1em;
    justify-content: start;
    background-color: white;
    padding: 1em;
    border-radius: 13px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 8%), 0 3px 6px rgb(0 0 0 / 6%);
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
}

.my-title {
    margin-left: 1em;
    font-weight: 500;
    font-size: 1.4rem;
}