<h3 class="my-title">Datos del usuario</h3>
<div class="user-card">
    <div class="logo">
        <img src="assets/icons/app/programmer.png" alt="freya-layout">
    </div>
    <div class="data-container">
        <span style="margin-bottom:3px"><b>Nombre:</b> {{user.name}} {{user.lastName}}</span>
        <span style="margin-bottom:3px"><b>Correo:</b> {{user.email}}</span>
        <span style="margin-bottom:3px"><b>Teléfono:</b> {{user.phone}}</span>
        <span><b>Puntos:</b> {{user.points}}</span>
    </div>
</div>
<p-button  [style]="{width: '90%', marginBottom: '1em', marginTop: '1em', marginLeft: '1.1em', marginRight: '1.1em'}" label="Modificar datos del usuario" (click)="modifyUserData()"></p-button>
<h3 class="my-title">Datos de ubicación</h3>
<div class="user-card">
    <div class="logo">
        <img src="assets/icons/app/map-borderless.png" alt="freya-layout">
    </div>
    <div class="data-container">
        <span><b>Dirección:</b> {{user.address}}</span>
        <span><b>Comuna:</b> {{user.commune}}</span>
        <span><b>Región:</b> {{user.region}}</span>
    </div>
</div>
<p-button  [style]="{width: '90%', marginBottom: '1em', marginTop: '1em', marginLeft: '1.1em', marginRight: '1.1em'}" label="Modificar datos" (click)="modifyUserData()"></p-button>
<p-button  [style]="{width: '90%', marginBottom: '1em', marginTop: '1em', marginLeft: '1.1em', marginRight: '1.1em'}" label="Cerrar sesión" (click)="closeSession()"></p-button>