<div class="layout-content">
  <div class="card">
    <h4 class="my-title">Creación de cuenta</h4>
    <!-- <p-divider></p-divider> -->
    <div class="p-fluid">
        <div class="p-field">
            <label for="firstname1">Nombre</label>
            <input id="firstname1" placeholder="Ingrese nombre" type="text" pInputText [(ngModel)]="name" name="name"> 
        </div>
        <div class="p-field">
            <label for="lastname1">Apellido</label>
            <input id="lastname1" type="text" pInputText placeholder="Ingrese apellido" [(ngModel)]="lastName" name="lastName"> 
        </div>
        <div class="p-field">
          <label for="lastname1">Correo electrónico</label>
          <input id="lastname1" type="email" pInputText placeholder="Ingrese correo" [(ngModel)]="email" name="email"> 
        </div>
        <div class="p-field">
          <label for="lastname1">Dirección</label>
          <input id="lastname1" type="text" pInputText placeholder="Ingrese direccion" [(ngModel)]="address" name="address"> 
        </div>
        <div class="p-field">
          <label for="lastname1">Número de celular</label>
          <input id="lastname1" type="text" pInputText placeholder="Ingrese celular" [(ngModel)]="cellphone" name="cellphone"> 
        </div>
        <div class="p-field">
          <label for="lastname1">Contraseña</label>
          <input id="lastname1" type="password" pInputText placeholder="Ingrese contraseña" [(ngModel)]="password" name="password"> 
        </div>
        <div class="p-field">
          <label for="lastname1">Contraseña</label>
          <input id="lastname1" type="password" pInputText placeholder="Repita contraseña" [(ngModel)]="passwordConfirmation" name="passwordConfirmation"> 
        </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-button  [style]="{width: '100%'}" label="Crear cuenta" (click)="createAccount()"></p-button>
      </div>
      <div class="p-col-12">
        <p-button  [style]="{width: '100%'}" label="Volver" (click)="back()"></p-button>
      </div>
    </div>
  </div>
</div>