<form class="example-form">

  <div class="input-container">
    <h3 class="my-title">Creación de cuenta</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ingrese nombre" [(ngModel)]="name" name="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="Ingrese apellido" [(ngModel)]="lastName" name="lastName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Correo electrónico</mat-label>
      <input matInput placeholder="Ingrese correo" [(ngModel)]="email" name="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Dirección</mat-label>
      <input matInput placeholder="Ingrese dirección" [(ngModel)]="address" name="address">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Ingrese contraseña" [(ngModel)]="password" name="password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Confirmar contraseña</mat-label>
      <input type="password" matInput placeholder="Repita contraseña" [(ngModel)]="passwordConfirmation" name="passwordConfirmation">
    </mat-form-field>
  </div>

  <div class="buttons">
    <button class="my-button" mat-raised-button color="primary" (click)="createAccount()">Crear cuenta</button>
    <button class="my-button" mat-raised-button color="primary" (click)="back()">Volver</button>
  </div>
</form>